/*THE TITLE*/
.title {
    font-size: 6vw;
    font-style: italic;
    outline-color: black;
    outline-style: solid;
    outline-width: thin;
    color: blue;
    margin: 0vw;
    padding: 0vw;
}

.headTitle {
    margin: 0vw;
    padding: 0vw;
}

.subTitle {
    font-size: 3vw;
    font-style: italic;
    color: black;
    margin-top:0vw;
}


body {
    font-family: "Arial", sans-serif;
    font-size: 1vw;
    margin: 3vw;
    text-align: center;
}

/*Operate on the scrollbar*/
/* width */

/* source: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar {
    width: 1.5vw;
}

/* Track */

/* source: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */

/* source: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}


/*THE CALENDAR*/
#button, #customalarmbutton, #presetalarmbutton, #HCcustomalarmbutton, #HCpresetalarmbutton {
    background-color: #f1f1f1;
    border: .2vw solid black;
    font-size: 2.5vw;
    color: black;   
    cursor: pointer; 
    padding: .99vw;  
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
#button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
#button:focus {
    background-color: #ccc;
}

/* Style the tab */

/* source: https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
    overflow: hidden;
    border: .2vw solid black;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0vw;
    background-color: #f1f1f1;
}


/* source: https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab button {
    background-color: inherit;
    font-size: 4vw;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    transition: 0.3s;    
}


/* source: https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab button:hover {
    background-color: #ddd;
}


/* source: https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab button.active {
    background-color: #ccc;
    border-left: .2vw solid black;
    border-right: .2vw solid black;
} 


#BrynMawr {
    float: left;
}


#Haverford {
    float: right;
}


/* Style the tab content */
/* source: https://www.w3schools.com/howto/howto_js_tabs.asp */
.tabContent {
    display: none;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 6vw;
    margin-top: 0vw;
    padding-top: 0vw;
    border: .2vw solid black;
    border-top: none;
}

.nextBusLeaving {
    background-color: white;
    font-size: 2.5vw;
    border: .1vw solid black;
    color: black;   
    padding-top: 0vw;
    margin-top: 2vw;
    margin-left: 13vw;
    margin-right: 13vw;
}

.nextLeavingTime {
    font-size: 4vw;
    font-style: italic;
    margin: 0vw;
    padding: 0vw;
}



/*Make the bus that is next to leave stand out*/
#nextToLeave { 
    font-size: 4vw;
    font-style: italic;
}



/*THE PAGE CHANGE BUTTONS*/
.pageChangeButtons {
    margin-bottom: 8vw;
    margin-top: 8vw;
}


.pageChangeButtons button:hover {
    background-color: #ddd;
}


.setCustomAlarm {
    background-color: #ccc;
    padding-right: 20vw;
}


.presetAlarmSettings {
    background-color: #ccc;
    padding-left: 20vw;
}


/*THE DAYS*/
.daysOfWeek {
    overflow: hidden;
    border: .2vw solid black;
    text-align: center;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    background-color: #f1f1f1;
}


.daysOfWeek button {
    background-color: inherit;
    font-size: 2vw;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    transition: 0.3s;    
}

.daysOfWeek button:hover {
    background-color: #ddd;
}

.daysOfWeek button.active {
    background-color: #ccc;
    border-left: .2vw solid black;
    border-right: .2vw solid black;
} 


.blueBusSchedule {
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 3vw;
}


.outsideButton button {
    background-color: #f1f1f1;
    border: .2vw solid black;
    font-size: 1.5vw;
    color: black;   
    cursor: pointer; 
    padding: .99vw;  
    margin-left: .7vw;
    margin-right: 0vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    transition: 0.3s;
}

#officialBlueButton {
    margin-top: 0vw;
    margin-bottom: 2vw;
}


.outsideButton button:hover {
    background-color: #ddd;
}


.outsideButton button:focus {
    background-color: #ccc;
}


#setAlarm {
    background-color: #f1f1f1;
    border: .2vw solid black;
    font-size: 1.5vw;
    color: black;   
    text-decoration: none;
    cursor: pointer; 
    padding: .99vw;  
    margin-left: .7vw;
    margin-right: .7vw;
    margin-top: 8vw;
    transition: 0.3s;
}


#setAlarm:hover {
    background-color: #ddd;
}


#setAlarm:focus {
    background-color: #ccc;
}




